<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <div class="about-container">
      <h1>About the App</h1>
      <div class="info-section">
        <p>
          This is a simple To-Do web app built with Node.js, Express, and MongoDB.
        </p>
        <p>
          It allows users to create, read, update, and delete tasks.
        </p>
        <p>
          It was made by two brilliant students, Huy Nguyen and Leroy Gawu-Mensah. 
        </p>
      </div>
    </div>
  </body>
</html>
