<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to our To-Do web app</title>
    <script defer>
      function navigateTo(route) {
        window.location.href = route;
      }
    </script>
  </head>
  <body>
    <h1>To-Do Web app</h1>
    <h2>Huy Nguyen x Leroy</h2>
    <button onclick="navigateTo('/to-do')">Start writing your task</button>
    <button onclick="navigateTo('/about')">About the app</button>
  </body>
</html>
